<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head %}{% endblock %}
    <title>Айфоны.ру</title>
</head>
<body>
    <nav class="flex justify-between text-xl my-3">
        <ul class="flex ml-10 text-3xl font-bold">
            <a href="http://127.0.0.1:8000/pages/main">Айфоны.ру</a>
        </ul>
        <ul class="flex gap-5 mr-10">
            <a href="http://127.0.0.1:8000/pages/search/iphone">Поиск</a>
            <li>Категории</li>
            <li>Корзина</li>
            <li>Личный кабинет</li>
            <li>Войти</li>
        </ul>
    </nav>
    <hr>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>