{% extends "base.html" %}

{% block content %}
<div class="flex justify-center flex-col items-left">

    {% for product in products %}
    <a href="http://127.0.0.1:8000/pages/product/{{ product.product_id }}">
        <div class="flex rounded-3 border-2 p-3 mt-5">
            <img width="150" src="{{ url_for('static', path=product.picture) }}" alt="Стонкс" class="mr-5">
            <div class="flex flex-col">
                <span class="text-2xl">{{ product.product_name }}</span>
                <span class="text-2xl font-bold">{{ product.unit_price }} ₽</span>
                <span class="text-lg">{{ product.description }}</span>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}