{% extends "base.html" %}


{% block content %}

<div class="flex justify-center flex-col items-left">

    <span class="text">Заказ №{{ order[0].order_id }}</span>
    {% for product in order[0].products %}
        <div class="flex rounded-3 border-4 p-3 mt-1">
            <img width="150" src="{{ url_for('static', path=all_products[product['product_id']-1].picture) }}" alt="Фото товара" class="mr-5">
            <div class="flex flex-col">
                <span class="text-xl">{{ all_products[product['product_id']-1].product_name }}</span>
                <span class="text-lg">{{ all_products[product['product_id']-1].description }}</span>
                <br>
                <span class="text-xl">Количество: {{ product['quantity'] }}</span>
                <span class="text-2xl font-bold">{{ all_products[product['product_id']-1].unit_price*product['quantity'] }} ₽</span>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}